{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Avalon Pizza Base Infrastructure",
  "Parameters": {
    "DbUser": {
      "Type": "String",
      "Description": "The master username for the RDS instance"
    },
    "NetworkType": {
      "Type": "String",
      "Default": "Private",
      "AllowedValues": ["Public", "Private"],
      "Description": "Whether to deploy the database in a public or private subnet. Temporarily allowing 'Public' for development purposes, but will transition to 'Private' for production deployments"
    },
    "MyLocalIp": {
      "Type": "String",
      "Description": "Your local machine's public IP address, used to allow access to the RDS instance when 'NetworkType' is set to 'Public'. You can find your public IP by searching 'what is my IP' on Google. This parameter is ignored if 'NetworkType' is set to 'Private'."
    }
  },
  "Conditions": {
    "IsPublic": { "Fn::Equals": [{ "Ref": "NetworkType" }, "Public"] }
  },
  "Resources": {
    "MyVPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": "10.0.0.0/16",
        "EnableDnsSupport": true,
        "EnableDnsHostnames": true,
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-vpc" }]
      }
    },
    "InternetGateway": {
      "Type": "AWS::EC2::InternetGateway",
      "Condition": "IsPublic"
    },
    "VPCGatewayAttachment": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Condition": "IsPublic",
      "Properties": {
        "VpcId": { "Ref": "MyVPC" },
        "InternetGatewayId": { "Ref": "InternetGateway" }
      }
    },
    "PrivateSubnet1": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "VpcId": { "Ref": "MyVPC" },
        "CidrBlock": "10.0.1.0/24",
        "AvailabilityZone": "ca-central-1a",
        "MapPublicIpOnLaunch": { "Fn::If": ["IsPublic", true, false] },
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-private-subnet-1a" }]
      }
    },
    "PrivateSubnet2": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "VpcId": { "Ref": "MyVPC" },
        "CidrBlock": "10.0.2.0/24",
        "AvailabilityZone": "ca-central-1b",
        "MapPublicIpOnLaunch": { "Fn::If": ["IsPublic", true, false] },
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-private-subnet-1b" }]
      }
    },
    "PrivateRouteTable": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": { "Ref": "MyVPC" },
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-private-rt" }]
      }
    },
    "PublicRoute": {
      "Type": "AWS::EC2::Route",
      "Condition": "IsPublic",
      "Properties": {
        "RouteTableId": { "Ref": "PrivateRouteTable" },
        "DestinationCidrBlock": "0.0.0.0/0",
        "GatewayId": { "Ref": "InternetGateway" }
      }
    },
    "Subnet1RouteTableAssociation": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": { "Ref": "PrivateSubnet1" },
        "RouteTableId": { "Ref": "PrivateRouteTable" }
      }
    },
    "Subnet2RouteTableAssociation": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": { "Ref": "PrivateSubnet2" },
        "RouteTableId": { "Ref": "PrivateRouteTable" }
      }
    },
    "AvalonAppTrustedSG": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "Allow access to RDS and SSM endpoint",
        "VpcId": { "Ref": "MyVPC" },
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-sg" }]
      }
    },
    "SelfReferencingIngress": {
      "Type": "AWS::EC2::SecurityGroupIngress",
      "Properties": {
        "GroupId": { "Ref": "AvalonAppTrustedSG" },
        "IpProtocol": "-1",
        "SourceSecurityGroupId": { "Ref": "AvalonAppTrustedSG" }
      }
    },
    "SqlIngressRule": {
      "Type": "AWS::EC2::SecurityGroupIngress",
      "Condition": "IsPublic",
      "Properties": {
        "GroupId": { "Ref": "AvalonAppTrustedSG" },
        "IpProtocol": "tcp",
        "FromPort": 1433,
        "ToPort": 1433,
        "CidrIp": { "Ref": "MyLocalIp" }
      }
    },
    "MyDBSubnetGroup": {
      "Type": "AWS::RDS::DBSubnetGroup",
      "Properties": {
        "DBSubnetGroupDescription": "Private subnets for RDS",
        "SubnetIds": [{ "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" }],
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-db-subnet-group" }]
      }
    },
    "AvalonPizzaDb": {
      "Type": "AWS::RDS::DBInstance",
      "Properties": {
        "DBInstanceClass": "db.t3.micro",
        "MultiAZ": false,
        "PubliclyAccessible": { "Fn::If": ["IsPublic", true, false] },
        "StorageEncrypted": true,
        "Engine": "sqlserver-ex",
        "AllocatedStorage": "20",
        "DBSubnetGroupName": { "Ref": "MyDBSubnetGroup" },
        "VPCSecurityGroups": [{ "Ref": "AvalonAppTrustedSG" }],
        "MasterUsername": { "Ref": "DbUser" },
        "MasterUserPassword": "{{resolve:ssm-secure:/pizzaapi/DbPassword:1}}",
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-db-instance" }]
      }
    },
    "SSMEndpoint": {
      "Type": "AWS::EC2::VPCEndpoint",
      "Properties": {
        "VpcId": { "Ref": "MyVPC" },
        "ServiceName": { "Fn::Sub": "com.amazonaws.${AWS::Region}.ssm" },
        "VpcEndpointType": "Interface",
        "PrivateDnsEnabled": true,
        "SubnetIds": [{ "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" }],
        "SecurityGroupIds": [{ "Ref": "AvalonAppTrustedSG" }],
        "Tags": [{ "Key": "Name", "Value": "avalon-pizza-ssm-endpoint" }]
      }
    }
  },
  "Outputs": {
    "VpcId": {
      "Value": { "Ref": "MyVPC" },
      "Export": { "Name": "AvalonPizza-VpcId" }
    },
    "PrivateSubnet1Id": { 
      "Value": { "Ref": "PrivateSubnet1" },
      "Export": { "Name": "AvalonPizza-PrivateSubnet1Id" }
    },
    "PrivateSubnet2Id": { 
      "Value": { "Ref": "PrivateSubnet2" },
      "Export": { "Name": "AvalonPizza-PrivateSubnet2Id" }
    },
    "AvalonAppTrustedSGId": {
      "Value": { "Ref": "AvalonAppTrustedSG" },
      "Export": { "Name": "AvalonPizza-SgId" }
    },
    "DbHostname": {
      "Value": { "Fn::GetAtt": ["AvalonPizzaDb", "Endpoint.Address"] },
      "Export": { "Name": "AvalonPizza-DbHostname" }
    }
  }
}